simple_live_app/.vscode/settings.json
simple_live_tv_app/.vscode/settings.json
.idea/
.vscode/
.vercel/
.flatpak-builder/
.crush/
CRUSH.md
.zvec-grep/
.mimosa/
.reasonix/
.workbuddy/
.ocr_review_report.txt
.dsh_flutter_version*
build/
dev-tool.ps1
*.py
simple_live_app/iconfont.yaml
